<h1>Student </h1>

<ul>
  <li *ngFor="let x of students">
  {{x.name}} - {{x.age}} - {{x.id}} - {{x.address}} - {{x.course}} <!--gets the students information by data binding-->
  </li>
</ul>

<ol>
  @for(student of students; track student){
  <li>{{student.name}} - {{student.age}} - {{student.id}} - {{student.address}} - {{student.course}}</li> <!--gets student info via data bindingu-->
  }
</ol>

<h1>Weather in Galway</h1>
<!--<ul>
  <li *ngFor="let y of students">
    {{y.main}} - {{y.description}}
  </li>
</ul>-->

<ol>
  @for(weather of weather; track weather){
    <p>{{weather.main}} - {{weather.description}}</p><!--gets the weather info via data binding-->
  }
</ol>