<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><!--adding back button-->
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Connaught</ion-title><!--title-->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">connaught</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Flag_of_Connacht.svg/300px-Flag_of_Connacht.svg.png"> <!--connaught image-->
  <br>
  <h2>Counties in Connaught</h2><!--counties title-->
  <ul><!--unordered list which displays the counties in connaught-->
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Lietrim</li>
  </ul>
</ion-content>
